.swiper {
    height: auto;
    max-width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: auto; /* Remova a altura fixa */
    color: var(--white);
    display: flex;
    flex-direction: column; /* Adicione isso para alinhar os itens verticalmente */
    justify-content: center; /* Adicione isso para espaço entre os itens */
    align-items: center;
    padding: 1rem;
    border-radius: 8px;

    background-color: var(--card-bg);
    width: 100%; /* Assegura que os slides usem 100% da largura disponível */
    box-sizing: border-box;
  }
  
  .swiper-slide img {
    display: block;
    width: 5rem;
    border-radius: 20px;
    margin: 0 auto;
    object-fit: cover;
    height: 5rem; /* Defina uma altura para garantir que todas as imagens tenham o mesmo tamanho */
  }
  
  .swiper-slide p:last-child {
    font-size: .9rem;
    line-height: 1.5rem;
  } 
  
  .textSwiper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center; /* Adicione isso para alinhar os itens no centro */
    justify-content: center;
  }
  
  .depoimento {
    margin-top: 2rem;
  }
  
  .textSwiper h2 {
    color: var(--orange);
  }

  .textSwiper p {
    color: var(--icon);
  }
  
  .container {
    max-width: 90rem;
    margin: 0 auto;
    color: var(--white);
    padding-top: 0rem;
    margin-bottom: 3rem;
  }
  
  .textContainer {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  
  .swiperText img {
    height: 1rem;
  }
  